.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Local Netlify folder
.netlify


.env

temp-cart-data/

# Playwright test outputs
/playwright-report/
/test-results/

.playwright-mcp/